<h1>Blog App </h1>
<% @posts.each do |post| %>
    <div>
        <h4>
            <%=link_to post.title,post %> 
        </h4>
        <p> 
            <%=post.description %>  
        </p> 
    </div> 
<%end%>
<%= link_to 'New post',new_post_path %>